@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
.navbar-left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.6rem;
}

.hamburger-div {
  margin-left: 1.5rem;
}

.hamburger-menu {
  font-size: 1.55rem;
}

/* .search-bar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96.6rem;
} */

.search-bar {
  border: 1px solid rgb(210, 210, 210);
  padding-left: 1.4rem;
  font-weight: 500;
  width: 100%;
  height: 2.3rem;
  margin-right: 12rem;
  margin-left: 12rem;
}
.navbar-right-section {
  width: 12.1rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.yt_studio_logo {
  height: 1.5rem;
}

.help-button {
  font-size: 1.55rem;
  margin-right: 1.2rem;
}

.create-button-div {
  height: 2rem;
  padding: 5px;
  width: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin-right: 1.2rem;
}

.current-user-div {
  margin-right: 1.5rem;
}
.current-user {
  font-size: 1.8rem;
}

/* SIDEBAR */

.lower-section {
  width: 100vw;
  height: calc(100vh - 4rem);
  display: flex;
}

.info-section {
  width: 18rem;
  height: inherit;
  border: 1px solid rgb(205, 205, 205);
}
.right-info-section {
  width: 100%;
  height: inherit;
  /* border: 2px solid green; */
}

/* DEFAULT PFP */

.pfp-default {
  height: 7rem;
  width: 7rem;
  position: relative;
  bottom: 1.4rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 14rem;
}
.img-container > p:nth-of-type(2) {
  color: rgb(161, 161, 161);
}

.lower-section-items {
  /* border: 2px solid red; */
  height: auto;
  overflow: hidden;
}

.items-div > ul {
  list-style: none;
  margin-top: 0.6rem;
}

.items-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .items-div > ul > li {
  margin: 1.2rem;
  text-align: left;
  font-size: 1.2rem;
} */

.items-ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:start;
  flex-direction: column;
}

.single-link:hover{
  background-color: rgb(239, 239, 239);
}

.single-link:active{
  background-color: rgb(155, 155, 155);
}

.single-link{
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  margin-top: 0.1rem;
  width: 100%;
  border: 1px solid rgb(255, 254, 254);
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.title-div {
  display: flex;
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
}

.info-content {
  border: 1px solid rgb(255, 255, 255);
  height: calc(100vh - 124px);
}
.dashboard-div{
  height: calc(100vh - 4rem);
}
.upload-div {
  margin: 3.1rem;
  padding: 1rem;
  border: 1px solid black;
  height: 25rem;
  width: 18rem;
}

/* LAYOUT */
.content {
  width: 100vw;
  height: calc(100vh - 4rem);
  display: flex;
}

.sidebar-div {
  margin: 0;
  border-right: 1px solid rgb(205, 205, 205);
  width: 20rem;
  height: 100%;
}

.outlet-div {
  width: 100vw;
  height: 100%;
}
